@charset "UTF-8";

body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #555;
  background-color: #DDFFFF;
  font-family: 'Noto Serif JP', serif;
}

a {
  text-decoration: none;
  color: #555;
}

li {
  list-style: none;
  margin: 10px;
}
